# 01

My_list = ["apple", "banana", "grapefruit", "orange", "melon", "kiwi", "peach"].

Please perform following operations on the list above.

1- Remove any word that has less than 5 characters.  
2- Reverse the remaining words.  
3- Convert the reversed words to uppercase.  
4- Sort the reversed and uppercase words in descending order.

In [14]:
My_list = ["apple", "banana", "grapefruit", "orange", "melon", "kiwi", "peach"]

In [15]:
def rem(li):
    for i in li:
        if len(i)<5:
            My_list.remove(i)
    print(My_list)

In [42]:
rem(My_list)

['apple', 'banana', 'grapefruit', 'orange', 'melon', 'peach']

In [17]:
rev_list = My_list[::-1]
print(rev_list)

['peach', 'melon', 'orange', 'grapefruit', 'banana', 'apple']

In [23]:
#Method 1
up_list = []
def up_li(li):
    for i in li:
        a = i.upper()
        up_list.append(a)
    print(up_list)

up_li(rev_list)

['PEACH', 'MELON', 'ORANGE', 'GRAPEFRUIT', 'BANANA', 'APPLE']

In [28]:
#method 02
li = ' '.join(rev_list)
print(li)
upper_str = li.upper()
upper_list2 = upper_str.split(' ')
print(upper_list2)

peach melon orange grapefruit banana apple
['PEACH', 'MELON', 'ORANGE', 'GRAPEFRUIT', 'BANANA', 'APPLE']

In [32]:
rev_list.sort()
print(rev_list)

['apple', 'banana', 'grapefruit', 'melon', 'orange', 'peach']

In [33]:
upper_list2.sort()
print(upper_list2)

['APPLE', 'BANANA', 'GRAPEFRUIT', 'MELON', 'ORANGE', 'PEACH']

# 02

Purchase_records = (("Apple", 0.99), ("Banana", 0.5), ("Orange", 0.75), ("Grapes", 1.25))

Please perform the following operations on the tuple above.

1- Find the total number of products.  
2- Calculate the total cost of all purchases.  
3- Find the average price of the product

In [34]:
Purchase_records = (("Apple", 0.99), ("Banana", 0.5), ("Orange", 0.75), ("Grapes", 1.25))

In [36]:
product_count = len(Purchase_records)
print(product_count)

4

In [39]:
def total_cost(tup):
    total = 0
    for i in range(len(tup)):
        a = tup[i][1]
        total += a
    print(total)
total_cost(Purchase_records)

3.49

In [40]:
def avg_cost(tup):
    total = 0
    for i in range(len(tup)):
        a = tup[i][1]
        total += a
        avg = total/len(tup)
    print(avg)
avg_cost(Purchase_records)

0.8725

# 03

Write a Python program to calculate the area of a rectangle with length 5cm and width 3 cm.

In [1]:
def rec_area(length, width):
    area = length * width
    return area
rec_area(5,6)

30

# 04
Write a Python program that performs the following operations on the list.  
   num_list = [2, 5, 8, 3, 6, 2, 9, 8, 7, 1, 4, 3, 5]  
   a- Find the maximum value in the list.  
   b- Calculate the sum of all the even numbers in the list.  
   c- Check if the list contains any duplicate elements.  
   d- Remove all the prime numbers from the list.

In [27]:
num_list = [2, 5, 8, 3, 6, 2, 9, 8, 7, 1, 4, 3, 5]

In [28]:
max_num = max(num_list)
print(max_num)

9

In [29]:
def sum_even(li):
    total=0
    for i in li:
        if i % 2 == 0:
            total += i
    return total
sum_even(num_list)

30

In [30]:
def isduplicate(li):
    for j in range(len(num_list)):
        for k in range(len(num_list)):
            if num_list[j] == num_list[k]:
                print("found a duplicate")
                return
isduplicate(num_list)

found a duplicate!

In [31]:
def isprime(num):
    if num > 1:
        for i in range(2, int(num/2)+1):
            if (num % i) == 0:
                return False
                break
        else:
            return True
    else:
        return False

In [48]:
num_list_1 = [2, 5, 8, 3, 6, 2, 9, 8, 7, 1, 4, 3, 5]
def remove_prime(li):
    return [num for num in li if not isprime(num)] 
    
remove_prime(num_list_1)

[8, 6, 9, 8, 1, 4]

10