# 01

My_list = ["apple", "banana", "grapefruit", "orange", "melon", "kiwi", "peach"].

Please perform following operations on the list above.

1- Remove any word that has less than 5 characters.  
2- Reverse the remaining words.  
3- Convert the reversed words to uppercase.  
4- Sort the reversed and uppercase words in descending order.

In [14]:
My_list = ["apple", "banana", "grapefruit", "orange", "melon", "kiwi", "peach"]

In [15]:
def rem(li):
    for i in li:
        if len(i)<5:
            My_list.remove(i)
    print(My_list)

In [42]:
rem(My_list)

['apple', 'banana', 'grapefruit', 'orange', 'melon', 'peach']

In [17]:
rev_list = My_list[::-1]
print(rev_list)

['peach', 'melon', 'orange', 'grapefruit', 'banana', 'apple']

In [23]:
#Method 1
up_list = []
def up_li(li):
    for i in li:
        a = i.upper()
        up_list.append(a)
    print(up_list)

up_li(rev_list)

['PEACH', 'MELON', 'ORANGE', 'GRAPEFRUIT', 'BANANA', 'APPLE']

In [28]:
#method 02
li = ' '.join(rev_list)
print(li)
upper_str = li.upper()
upper_list2 = upper_str.split(' ')
print(upper_list2)

peach melon orange grapefruit banana apple
['PEACH', 'MELON', 'ORANGE', 'GRAPEFRUIT', 'BANANA', 'APPLE']

In [32]:
rev_list.sort()
print(rev_list)

['apple', 'banana', 'grapefruit', 'melon', 'orange', 'peach']

In [33]:
upper_list2.sort()
print(upper_list2)

['APPLE', 'BANANA', 'GRAPEFRUIT', 'MELON', 'ORANGE', 'PEACH']

# 02

Purchase_records = (("Apple", 0.99), ("Banana", 0.5), ("Orange", 0.75), ("Grapes", 1.25))

Please perform the following operations on the tuple above.

1- Find the total number of products.  
2- Calculate the total cost of all purchases.  
3- Find the average price of the product

In [34]:
Purchase_records = (("Apple", 0.99), ("Banana", 0.5), ("Orange", 0.75), ("Grapes", 1.25))

In [36]:
product_count = len(Purchase_records)
print(product_count)

4

In [39]:
def total_cost(tup):
    total = 0
    for i in range(len(tup)):
        a = tup[i][1]
        total += a
    print(total)
total_cost(Purchase_records)

3.49

In [40]:
def avg_cost(tup):
    total = 0
    for i in range(len(tup)):
        a = tup[i][1]
        total += a
        avg = total/len(tup)
    print(avg)
avg_cost(Purchase_records)

0.8725

# 03

Write a Python program to calculate the area of a rectangle with length 5cm and width 3 cm.

In [1]:
def rec_area(length, width):
    area = length * width
    return area
rec_area(5,6)

30

# 04
Write a Python program that performs the following operations on the list.  
   num_list = [2, 5, 8, 3, 6, 2, 9, 8, 7, 1, 4, 3, 5]  
   a- Find the maximum value in the list.  
   b- Calculate the sum of all the even numbers in the list.  
   c- Check if the list contains any duplicate elements.  
   d- Remove all the prime numbers from the list.

In [27]:
num_list = [2, 5, 8, 3, 6, 2, 9, 8, 7, 1, 4, 3, 5]

In [28]:
max_num = max(num_list)
print(max_num)

9

In [29]:
def sum_even(li):
    total=0
    for i in li:
        if i % 2 == 0:
            total += i
    return total
sum_even(num_list)

30

In [30]:
def isduplicate(li):
    for j in range(len(num_list)):
        for k in range(len(num_list)):
            if num_list[j] == num_list[k]:
                print("found a duplicate")
                return
isduplicate(num_list)

found a duplicate!

In [31]:
def isprime(num):
    if num > 1:
        for i in range(2, int(num/2)+1):
            if (num % i) == 0:
                return False
                break
        else:
            return True
    else:
        return False

In [48]:
num_list_1 = [2, 5, 8, 3, 6, 2, 9, 8, 7, 1, 4, 3, 5]
def remove_prime(li):
    return [num for num in li if not isprime(num)] 
    
remove_prime(num_list_1)

[8, 6, 9, 8, 1, 4]

# 05
Write a Python program that takes a list of integers as input and checks if the list is in non-decreasing order. A list is considered non-decreasing if each element is greater than or equal to the previous element.

In [10]:
list1 = [1,2,4,5,6,7,9]
list2 = [9,2,4,5,8,6,7,9]

def check_list_sorted(li):
    flag = 0
    for i in range(len(li)-1):
        if li[i] >= li[i+1]:
            flag = 1      
    if flag == 1:
        print('list is in non-decreasing order')
    else:
        print('list is in decreasing order')

check_list_sorted(list1)
check_list_sorted(list2)

list is in decreasing order
list is in non-decreasing order

# 06 
Write a Python program that takes three integers as input and determines if they form a Pythagorean triplet. A Pythagorean triplet consists of three positive integers (a, b, c) such that a^2 + b^2 = c^2.

In [ ]:
a,b,c = input("enter three space seprated numbers: ").split(" ")
def func_py(a,b,c):  
    a_b_square = (int(a)**2) + (int(b)**2)
    c_square = (int(c)**2)   
    if a_b_square == c_square:
        print("Yes")
    else:
        print('No')
func_py(a,b,c)
# 3 4 5

# 07 
Use a for loop calculate the sum of all even numbers between 1 and 10.

In [11]:
total = 0
for i in range(1,11):
    if i % 2 == 0:
        total = total + i        
print(total)

30

# 08
Use a while loop to write a program that prompts the user to enter a password and validates its strength based on the criteria(Minimum length 8). The program should continue to prompt the user until a strong password is entered.
Feel free to write the prompt message as per your choice.

In [1]:
while True:
    password = input("Enter strong password: ")
    if len(password) < 8:
        print("Please enter valid password")
    if len(password) >= 8:
        break

Enter strong password: adc
Enter valid password
Enter strong password: adfsfdf
Enter valid password
Enter strong password: abhishek

# 09

Write a Python function called 'is_palindrome' that takes a string as input and returns True if the string is a palindrome, and False otherwise. *A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward, ignoring any non-alphanumeric characters and considering case sensitivity.

Sample String: "A man, a plan, a canal: Panama".

In [30]:
def ispalindrome(strinput = input("Please enter your input string: ")):
    s = strinput.replace(" ", "").lower()
    if s == s[::-1]:
        print("it is a panlindrome")
    else:
        print("it is not a palindrome")
        
ispalindrome()

Please enter your input string: mom
it is a panlindrome

# 10
Write a Python function called 'find_duplicates' that takes a list of numbers as input and returns a new list containing only the duplicate numbers from the original list. The order of the duplicate numbers in the new list should be the same as their order in the original list.

Sample List: [1, 2, 3, 4, 4, 5, 6, 7, 7, 8, 9, 9].

In [47]:
def find_duplicates(li = input("please enter space seprated list").split()):
    dup_list = []
    for i in li:
        if li.count(i) > 1 and i not in dup_list:
            dup_list.append(i)
    print(dup_list)
    
find_duplicates()

please enter space seprated list4 5 6 6 9 8 7 3 2
['6']

In [15]:
# Multiple return
def compare_numbers():
    a = 4
    b = 5
    c = 8
    if a < b:
        return a , b , c
    

a , b, c = compare_numbers()
print(a , b, c)

4 5 8

# 11
Write a Python function called convert_to_celsius() that takes a list of temperatures in Fahrenheit and uses the map() function to convert each temperature to Celsius. The formula to convert Fahrenheit to Celsius is (temperature - 32) * 5/9. The function should return a new list containing the converted temperatures.
sample- temperatures = [98.6, 72, 212, 45, 88.8]

In [2]:
temperatures = [98.6, 72, 212, 45, 88.8]
def convert_to_celsius(temp):
    celsius = list(map(lambda x : round(((x - 32)*5/9),2) , temp))
    print(celsius)
convert_to_celsius(temperatures)

[37.0, 22.22, 100.0, 7.22, 31.56]

# 12
Write a Python function called find_product() that uses the reduce() function to calculate the product of all the numbers in a given list. The function should take a list of integers as input and return the product as an integer.
sample list- numbers = [2, 4, 6, 8]

In [4]:
from functools import reduce
numbers = [2, 4, 6, 8]
def find_product(n):
    print(reduce(lambda x, y : x * y, n))
find_product(numbers)
    
#print(reduce(lambda x, y: x + y, (0, 3, 4, 1, -1)))

384